<form class="form-horizontal" name="personForm" [formGroup]="personForm" (ngSubmit)="onSubmit()">
    <div class="panel panel-primary marg">
        <div class="panel-heading">
            <h4 class="panel-title ">SRNR Registration</h4>
        </div>
        <div class="panel-body">

            <div>
                <h5>Dokumentuppgifter</h5>
            </div>
            <div class="form-group">
                <!-- [ngClass]="{'hasError': personForm.get('Namn_kontaktperson').errors}" -->
                <label class="col-sm-4 control-label" for="Namn_kontaktperson">Namn kontaktperson</label>
                <div class="col-sm-6">
                    <input id="Namn_kontaktperson" [formControlName]="'Namn_kontaktperson'" type="text" class="form-control">
                    <!--  <span class="help-block" *ngIf="personForm.get('Namn_kontaktperson').hasError('required')" class="invalid-feedback">Namn kontaktperson is required </span> -->
                    <!-- <div *ngIf="f.Namn_kontaktperson.touched && f.Namn_kontaktperson.invalid" class="invalid-feedback">Namn kontaktperson är obligatorisk </div>  -->
                    <div *ngIf="f.Namn_kontaktperson.touched && f.Namn_kontaktperson.invalid" class="alert alert-danger">Namn kontaktperson är obligatorisk </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-4 control-label" for="phone">Telefon kontaktperson</label>
                <div class="col-sm-6">
                    <input id="phone" [formControlName]="'phone'" type="text" class="form-control">
                    <div *ngIf="f.phone.touched && f.phone.invalid" class="alert alert-danger">
                        Telefon nummer är obligatorisk.</div>

                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label" for="E_post_kontaktperson">E-post kontaktperson</label>
                <div class="col-sm-6">
                    <input id="E_post_kontaktperson" formControlName="E_post_kontaktperson" type="email" class="form-control">
                    <div *ngIf="f.E_post_kontaktperson.touched && f.E_post_kontaktperson.invalid" class="alert alert-danger">
                        Epost kontaktperson är obligatorisk.
                    </div>
                </div>
            </div>

            <h5>Ärendeuppgifter/Person</h5>
            <!--  <div class="row"> -->
            <div class="form-group">
                <label class="col-md-5 control-label" for="dateOf">Födelsedatum</label>
                <div class="col-sm-3">
                    <input id="dateOf" formControlName="dateOf" type="text" bsDatepicker [bsConfig]="datePickerConfig" class="form-control" placement="right">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label ">Kön</label>
                <div class="col-sm-3 ">
                    <label class="radio-inline">
                                        <input type="radio" value="M" formControlName="kön">Man  </label>
                    <label class="radio-inline">
                                        <input type="radio" value="K" formControlName="kön">Kvina   </label>
                </div>
                <span class="help-block" *ngIf="personForm.get('kön').errors?.required &&
                personForm.get('kön').touched" class="alert alert-danger">
                                    Kön är obligatorisk </span>
            </div>
            <!--   </div> -->
            <div class="form-group">
                <label class="col-sm-2 control-label" for="Efternamn">Efternamn</label>
                <div class="col-sm-6">
                    <input id="Efternamn" formControlName="Efternamn" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="Förnamn">Förnamn</label>
                <div class="col-sm-6">
                    <input id="Förnamn" formControlName="Förnamn" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="Ytterligare_namnuppgift">Ytterligare namnuppgift</label>
                <div class="col-sm-6">
                    <input id="Ytterligare_namnuppgift" formControlName="Ytterligare_namnuppgift" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="Födelseort_i_utlandet">Födelseort i utlandet</label>
                <div class="col-sm-6">
                    <input id="Födelseort_i_utlandet" formControlName="Födelseort_i_utlandet" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="id">Primärt Medborgarskap</label>
                <div class="col-sm-3">
                    <select id="id" name="id" formControlName="medbor" class="form-control">
                   <option *ngFor="let med of countries" [ngValue]="med">{{med}}</option>
                  
                   
                    </select>
                </div>
            </div>




            <h5>Ärendeuppgifter/Kontaktadress</h5>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="CO_adress">C/O adress</label>
                <div class="col-sm-6">
                    <input id="CO_adress" formControlName="CO_adress" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="Adressfortsättning">Adress fortsättning</label>
                <div class="col-sm-6">
                    <input id="Adressfortsättning" formControlName="Adressfortsättning" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="Gatudress">Gatu adress</label>
                <div class="col-sm-6">
                    <input id="Gatudress" formControlName="Gatudress" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="Lagenhetsnummer">Lagenhetsnummer</label>
                <div class="col-sm-3">
                    <input id="Lagenhetsnummer" formControlName="Lagenhetsnummer" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="Postnummer">Postnummer</label>
                <div class="col-sm-3">
                    <input id="Postnummer" formControlName="Postnummer" type="text" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="Postort">Postort</label>
                <div class="col-sm-6">
                    <input id="Postort" formControlName="Postort" type="text" class="form-control">
                </div>
            </div>



            <h5>Ärendeuppgifter/Övrigt</h5>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="FaststalltId">FaststalltId</label>
                <div class="col-sm-3">
                    <select id="FaststalltId" name="FaststalltId" formControlName="FaststalltId" class="form-control">
                   <option value="PASS">PASS</option>
                   <option value="NATIONELLT ID">NATIONELLT ID</option>
                   <option value="ANNAN HANDLING">ANNAN HANDLING</option>
                   <option value="NEJ">NEJ</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="UnderlagId">UnderlagId</label>
                <div class="col-sm-3">
                    <input id="UnderlagId" formControlName="UnderlagId" type="text" class="form-control">
                </div>
            </div>



            <div class="form-group">
                <label class="col-sm-2 control-label" for="UnderlagId">Övriga_upplysningar</label>
                <div class="col-sm-8">
                    <textarea id="Övriga_upplysningar" formControlName="Övriga_upplysningar" type="text" class="form-control"> </textarea>
                </div>
            </div>

        </div>


        <!--   <H5>Upload borjar</H5> -->
        <div class="form-group">
            <div class="btn-toolbar ">
                <div class="col-sm-3">
                    <div class="text-center">
                        <input class="form-control" type="file" (change)="onChange($event)" accept=".pdf">
                    </div>
                </div>
                <div class="col-sm-3">
                    <button (click)="onUpload()" class="btn btn-primary"> Upload </button>
                </div>
            </div>
            <!-- En länk För att kolla om upload funkar -->
            <!-- Shareable short link of upoloaded file -->
            <div class="container text-center jumbotron" *ngIf="shortLink">
                <h2> Visit Here</h2>
                <a href="{{shortLink}}">{{shortLink}}</a>
            </div>

            <!--Flag variable is used here-->
            <div class="container" *ngIf="loading">
                <h3>Loading ...</h3>
            </div>


        </div>

    </div>


    <div class="form-group c">
        <!--   <button class="btn btn-primary " type="submit" [disabled]="personForm.invalid">Save</button> -->
        <button class="btn btn-primary" type="submit">Save</button>

    </div>

</form>

<!-- Angular Generated Form Model: {{personForm.value | json}} -->