/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
} */


/* .float-child {
    widows: 50%;
    float: left;
    padding: 20px;
} */


/* div.a {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid red;
}

div.b {
    position: absolute;
    right: 0;
    width: 100px;
    height: 120px;
    border: 3px solid blue;
}
 */

div.c {
    position: absolute;
    right: 50%;
    /*   right: 150px; */
    /* width: 200px; */
    height: 120px;
    /* border: 3px solid green; */
}

div.marg {
    margin: 35px;
}